modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["poppler_utils", "tesseract"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5904
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
STRIPE_PUBLISHABLE_KEY = "pk_live_51T6CzqRJvLY04pOldWGumr1q7Kqa83um3Wqdn6dOslYo9zo3gY317ImCTfo1qJgkgZqYD1oG9HiBkRXQAOyYa7mI00nXXSrx9O"
STRIPE_SECRET_KEY = "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"
GMAIL_APP_PASSWORD = "wean egkw xtme gvpz"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 30000
